<section class="vityl-discover-cta">
    <div class="container">
        <h2 class="vityl-h2">{{ title }}</h2>
        <div class="vityl-discover-cta__row">
            <div class="vityl-discover-cta__left-col">
                <div class="vityl-discover-cta__content">
                    <div class="vityl-p">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
            <div class="vityl-discover-cta__right-col">
                <div class="vityl-discover-cta__button-row">
                    <div class="vityl-discover-cta__button-col">
                        <a class="btn btn--white-border" href="{{ link_1.url }}">{{ link_1.title }}</a>
                    </div>
                    <div class="vityl-discover-cta__button-col">
                        <a class="btn btn--white" href="{{ link_2.url }}">{{ link_2.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>