<section class="vityl-single-post">
    <div class="container">
        <div class="vityl-single-post__prev-page">
            {% if post.post_type == 'post' %}
                <a href="{{ resources_page_link.url }}">Back to Previous Page</a>
            {% elseif post.post_type == 'beta-article' %}
                <a href="{{ beta_articles_page_link.url }}">Back to Previous Page</a>
            {% else %}
                <a href="{{ resources_page_link.url }}">Back to Previous Page</a>
            {% endif %}
        </div>
        <div class="vityl-single-post__title">
            <h1 class="vityl-h1-5">{{ post.title }}</h1>
        </div>
        <div class="vityl-single-post__meta-top-row vityl-single-post__meta-top-row--above">
            <div class="vityl-single-post__meta-top-col--share">
                <div class="vityl-single-post__share-row">
                    <div class="vityl-single-post__share-label-col">Share Via</div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('http://www.facebook.com/sharer.php?u={{post.link}}','Facebook','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M20 10C20 4.47715 15.5229 0 10 0C4.47715 0 0 4.47715 0 10C0 14.9912 3.65684 19.1283 8.4375 19.8785V12.8906H5.89844V10H8.4375V7.79688C8.4375 5.29063 9.93047 3.90625 12.2146 3.90625C13.3084 3.90625 14.4531 4.10156 14.4531 4.10156V6.5625H13.1922C11.95 6.5625 11.5625 7.3334 11.5625 8.125V10H14.3359L13.8926 12.8906H11.5625V19.8785C16.3432 19.1283 20 14.9912 20 10Z" fill="#000"/></svg></a>
                    </div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('https://www.linkedin.com/sharing/share-offsite/?url={{post.link}}','LinkedIn','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47708 0 0 4.47708 0 10C0 15.5229 4.47708 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47708 15.5229 0 10 0ZM7.55208 14.1448H5.52708V7.62812H7.55208V14.1448ZM6.52708 6.82812C5.8875 6.82812 5.47396 6.375 5.47396 5.81458C5.47396 5.24271 5.9 4.80312 6.55312 4.80312C7.20625 4.80312 7.60625 5.24271 7.61875 5.81458C7.61875 6.375 7.20625 6.82812 6.52708 6.82812ZM14.9479 14.1448H12.9229V10.5333C12.9229 9.69271 12.6292 9.12187 11.8969 9.12187C11.3375 9.12187 11.0052 9.50833 10.8583 9.88021C10.8042 10.0125 10.7906 10.2 10.7906 10.3865V14.1437H8.76458V9.70625C8.76458 8.89271 8.73854 8.2125 8.71146 7.62708H10.4708L10.5635 8.53229H10.6042C10.8708 8.10729 11.524 7.48021 12.6167 7.48021C13.949 7.48021 14.9479 8.37292 14.9479 10.2917V14.1448Z" fill="#000"/></svg></a>
                    </div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('https://twitter.com/share?url={{post.link}}','Twitter','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47768 0 0 4.47768 0 10C0 15.5223 4.47768 20 10 20C15.5223 20 20 15.5223 20 10C20 4.47768 15.5223 0 10 0ZM14.8058 7.53795C14.8125 7.64286 14.8125 7.75223 14.8125 7.85938C14.8125 11.1362 12.317 14.9107 7.7567 14.9107C6.35045 14.9107 5.04688 14.5022 3.94866 13.7991C4.14955 13.8214 4.34152 13.8304 4.54688 13.8304C5.70759 13.8304 6.77455 13.4375 7.625 12.7723C6.53571 12.75 5.62054 12.0357 5.30804 11.0536C5.68973 11.1094 6.03348 11.1094 6.42634 11.0089C5.86546 10.895 5.36133 10.5904 4.99959 10.1468C4.63785 9.70331 4.44082 9.14823 4.44196 8.57589V8.54464C4.77009 8.72991 5.15625 8.84375 5.56027 8.85938C5.22063 8.63302 4.94209 8.32636 4.74936 7.96658C4.55662 7.60681 4.45563 7.20503 4.45536 6.79688C4.45536 6.33482 4.57589 5.91295 4.79241 5.54688C5.41496 6.31325 6.19181 6.94005 7.07247 7.38653C7.95312 7.83301 8.91788 8.08918 9.90402 8.13839C9.55357 6.45313 10.8125 5.08929 12.3259 5.08929C13.0402 5.08929 13.683 5.38839 14.1362 5.87054C14.6964 5.76562 15.2321 5.5558 15.7098 5.27455C15.5246 5.84821 15.1362 6.33259 14.6205 6.63839C15.1205 6.58482 15.6027 6.44643 16.0491 6.25223C15.7121 6.74777 15.2902 7.1875 14.8058 7.53795Z" fill="#000"/></svg></a>
                    </div>
                </div>
            </div>
            {% if post.categories is not empty %}
                <div class="vityl-single-post__meta-top-col">
                    <div class="vityl-single-post__category-list">
                        <ul>
                            {% for cat in post.categories %}
                                <li><a href="{{ cat.link }}">{{ cat }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="vityl-single-post__featured-img">
            <img
                class="lazyload"
                src="{{ placeholderImage(post.thumbnail.width / 2, post.thumbnail.height / 2) }}"
                data-src="{{ post.thumbnail.src|resizeDynamic(post.thumbnail.width / 2) }}"
                data-srcset="{{ post.thumbnail.src|resizeDynamic(post.thumbnail.width / 2) }} 1x, {{ post.thumbnail.src|resizeDynamic(post.thumbnail.width) }} 2x"
                data-sizes="auto"
                alt="{{ post.thumbnail.alt|e }}"
            />
        </div>
        <div class="vityl-single-post__author">
            <div class="vityl-single-post__container">
                <div class="vityl-single-post__author-row">
                    <div class="vityl-single-post__author-left-col">
                        <img src="{{ user_avatar_url }}" alt="" />
                    </div>
                    <div class="vityl-single-post__author-right-col">
                        <div class="vityl-single-post__author-info">
                            <h3>Written by {{ post.author.name }}</h3>
                            <p>{{ post.author.description }}</p>
                        </div>
                        {# <div class="vityl-single-post__author-share-row">
                            <div class="vityl-single-post__author-share-col">
                                <a href="#"><svg width="23" height="19" viewBox="0 0 23 19" fill="none"><path d="M7.23557 18.8438C15.9127 18.8438 20.66 11.6532 20.66 5.41937C20.66 5.21723 20.6555 5.01059 20.6465 4.80844C21.57 4.14058 22.367 3.31334 23 2.36559C22.1399 2.74825 21.2267 2.99817 20.2917 3.1068C21.2762 2.51663 22.0134 1.5895 22.3666 0.497285C21.4404 1.04621 20.4274 1.43343 19.3712 1.64234C18.6596 0.886171 17.7186 0.385495 16.6939 0.217724C15.6691 0.0499528 14.6176 0.224432 13.702 0.714184C12.7864 1.20394 12.0576 1.98168 11.6283 2.92718C11.199 3.87268 11.0931 4.93326 11.3271 5.94496C9.45156 5.85084 7.61677 5.36364 5.94165 4.51494C4.26653 3.66623 2.78846 2.47497 1.60326 1.01838C1.00088 2.05695 0.816554 3.28592 1.08774 4.45551C1.35892 5.62511 2.06527 6.64756 3.06322 7.31508C2.31402 7.29129 1.58123 7.08958 0.925391 6.7266V6.785C0.924719 7.8749 1.30151 8.9314 1.99171 9.77491C2.68192 10.6184 3.64293 11.1969 4.71141 11.412C4.01739 11.6018 3.28898 11.6295 2.58256 11.4928C2.88406 12.4301 3.47067 13.2499 4.26053 13.8378C5.05039 14.4257 6.00407 14.7523 6.9885 14.7721C5.31724 16.0849 3.25275 16.797 1.12754 16.7936C0.75065 16.793 0.374132 16.7699 0 16.7244C2.15899 18.1095 4.67047 18.8452 7.23557 18.8438Z" fill="#1A1A1A"/></svg></a>
                            </div>
                            <div class="vityl-single-post__author-share-col">
                                <a href="#"><svg width="23" height="23" viewBox="0 0 23 23" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.141 6.27495C14.9536 5.14249 13.369 4.52555 11.7295 4.5509C8.72931 4.5509 6.18127 6.57495 5.27276 9.30046C4.79104 10.7287 4.79104 12.2753 5.27276 13.7036H5.27697C6.1897 16.4249 8.73352 18.449 11.7337 18.449C13.2824 18.449 14.612 18.0528 15.6424 17.3532V17.3503C16.8552 16.5475 17.6834 15.284 17.9412 13.8557H11.7295V9.4273H22.5767C22.7119 10.1964 22.7753 10.9823 22.7753 11.7641C22.7753 15.2618 21.5252 18.219 19.3502 20.222L19.3525 20.2237C17.4467 21.9816 14.8311 22.9999 11.7295 22.9999C7.38133 22.9999 3.40503 20.5491 1.45279 16.6657C-0.178279 13.4163 -0.178275 9.58785 1.45281 6.33837C3.40504 2.4508 7.38133 -7.95205e-05 11.7295 -7.95205e-05C14.586 -0.0338844 17.3453 1.03942 19.4243 2.99165L16.141 6.27495Z" fill="#1A1A1A"/></svg></a>
                            </div>
                            <div class="vityl-single-post__author-share-col">
                                <a href="#"><svg width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M12.9734 11.3348C12.9734 14.9484 10.0692 17.8778 6.4868 17.8778C2.90445 17.8778 0 14.9478 0 11.3348C0 7.7219 2.90423 4.79163 6.4868 4.79163C10.0694 4.79163 12.9734 7.72123 12.9734 11.3348Z" fill="#1A1A1A"/><path d="M20.0898 11.3349C20.0898 14.7363 18.6377 17.4948 16.8464 17.4948C15.0551 17.4948 13.603 14.7363 13.603 11.3349C13.603 7.93343 15.0549 5.17493 16.8462 5.17493C18.6375 5.17493 20.0896 7.93254 20.0896 11.3349" fill="#1A1A1A"/><path d="M22.9999 11.3349C22.9999 14.3817 22.4893 16.8532 21.8592 16.8532C21.2292 16.8532 20.7188 14.3824 20.7188 11.3349C20.7188 8.28734 21.2294 5.81653 21.8592 5.81653C22.4891 5.81653 22.9999 8.28712 22.9999 11.3349Z" fill="#1A1A1A"/></svg></a>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="vityl-single-post__content">
            <div class="vityl-single-post__container">
                {{ post.content }}
            </div>
        </div>
        <div class="vityl-single-post__meta-top-row vityl-single-post__meta-top-row--bottom">
            <div class="vityl-single-post__meta-top-col--share">
                <div class="vityl-single-post__share-row">
                    <div class="vityl-single-post__share-label-col">Share Via</div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('http://www.facebook.com/sharer.php?u={{post.link}}','Facebook','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M20 10C20 4.47715 15.5229 0 10 0C4.47715 0 0 4.47715 0 10C0 14.9912 3.65684 19.1283 8.4375 19.8785V12.8906H5.89844V10H8.4375V7.79688C8.4375 5.29063 9.93047 3.90625 12.2146 3.90625C13.3084 3.90625 14.4531 4.10156 14.4531 4.10156V6.5625H13.1922C11.95 6.5625 11.5625 7.3334 11.5625 8.125V10H14.3359L13.8926 12.8906H11.5625V19.8785C16.3432 19.1283 20 14.9912 20 10Z" fill="#000"/></svg></a>
                    </div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('https://www.linkedin.com/sharing/share-offsite/?url={{post.link}}','LinkedIn','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47708 0 0 4.47708 0 10C0 15.5229 4.47708 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47708 15.5229 0 10 0ZM7.55208 14.1448H5.52708V7.62812H7.55208V14.1448ZM6.52708 6.82812C5.8875 6.82812 5.47396 6.375 5.47396 5.81458C5.47396 5.24271 5.9 4.80312 6.55312 4.80312C7.20625 4.80312 7.60625 5.24271 7.61875 5.81458C7.61875 6.375 7.20625 6.82812 6.52708 6.82812ZM14.9479 14.1448H12.9229V10.5333C12.9229 9.69271 12.6292 9.12187 11.8969 9.12187C11.3375 9.12187 11.0052 9.50833 10.8583 9.88021C10.8042 10.0125 10.7906 10.2 10.7906 10.3865V14.1437H8.76458V9.70625C8.76458 8.89271 8.73854 8.2125 8.71146 7.62708H10.4708L10.5635 8.53229H10.6042C10.8708 8.10729 11.524 7.48021 12.6167 7.48021C13.949 7.48021 14.9479 8.37292 14.9479 10.2917V14.1448Z" fill="#000"/></svg></a>
                    </div>
                    <div class="vityl-single-post__share-icon-col">
                        <a
                            href="#"
                            onClick="javascript:window.open('https://twitter.com/share?url={{post.link}}','Twitter','width=600,height=500'); return false;"
                        ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47768 0 0 4.47768 0 10C0 15.5223 4.47768 20 10 20C15.5223 20 20 15.5223 20 10C20 4.47768 15.5223 0 10 0ZM14.8058 7.53795C14.8125 7.64286 14.8125 7.75223 14.8125 7.85938C14.8125 11.1362 12.317 14.9107 7.7567 14.9107C6.35045 14.9107 5.04688 14.5022 3.94866 13.7991C4.14955 13.8214 4.34152 13.8304 4.54688 13.8304C5.70759 13.8304 6.77455 13.4375 7.625 12.7723C6.53571 12.75 5.62054 12.0357 5.30804 11.0536C5.68973 11.1094 6.03348 11.1094 6.42634 11.0089C5.86546 10.895 5.36133 10.5904 4.99959 10.1468C4.63785 9.70331 4.44082 9.14823 4.44196 8.57589V8.54464C4.77009 8.72991 5.15625 8.84375 5.56027 8.85938C5.22063 8.63302 4.94209 8.32636 4.74936 7.96658C4.55662 7.60681 4.45563 7.20503 4.45536 6.79688C4.45536 6.33482 4.57589 5.91295 4.79241 5.54688C5.41496 6.31325 6.19181 6.94005 7.07247 7.38653C7.95312 7.83301 8.91788 8.08918 9.90402 8.13839C9.55357 6.45313 10.8125 5.08929 12.3259 5.08929C13.0402 5.08929 13.683 5.38839 14.1362 5.87054C14.6964 5.76562 15.2321 5.5558 15.7098 5.27455C15.5246 5.84821 15.1362 6.33259 14.6205 6.63839C15.1205 6.58482 15.6027 6.44643 16.0491 6.25223C15.7121 6.74777 15.2902 7.1875 14.8058 7.53795Z" fill="#000"/></svg></a>
                    </div>
                </div>
            </div>
            <div class="vityl-single-post__meta-top-col">
                {% if post.categories is not empty %}
                    <div class="vityl-single-post__category-list">
                        <ul>
                            {% for cat in post.categories %}
                                <li><a href="{{ cat.link }}">{{ cat }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if related_blogs is not empty %}
            <div class="vityl-single-post-like__pre-title">
                <div class="pre-title">You may also like</div>
            </div>
        {% endif %}
    </div>
</section>
{% if related_blogs is not empty %}
    <section class="vityl-single-post-like">
        <div class="container">
            <div class="vityl-single-post-like__row">
                {% for blog in related_blogs %}
                    <div class="vityl-single-post-like__col">
                        <div class="vityl-post-card">
                            <div class="vityl-post-card__img">
                                <a href="{{ blog.link }}">
                                    <img
                                        class="lazyload"
                                        src="{{ placeholderImage(330, 320) }}"
                                        data-src="{{ blog.thumbnail.src|resizeDynamic(330, 320) }}"
                                        data-srcset="{{ blog.thumbnail.src|resizeDynamic(330, 320) }} 1x, {{ blog.thumbnail.src|resizeDynamic(660, 640) }} 2x"
                                        data-sizes="auto"
                                        alt="{{ blog.thumbnail.alt|e }}"
                                    />
                                </a>
                            </div>
                            {# <div class="vityl-post-card__date">{{ blog.date|date('F jS Y') }}</div> #}
                            {# <div class="vityl-post-card__share-row">
                                <div class="vityl-post-card__share-label-col">Share Via</div>
                                <div class="vityl-post-card__share-icon-col">
                                    <a
                                        href="#"
                                        onClick="javascript:window.open('http://www.facebook.com/sharer.php?u={{blog.link}}','Facebook','width=600,height=500'); return false;"
                                    ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M20 10C20 4.47715 15.5229 0 10 0C4.47715 0 0 4.47715 0 10C0 14.9912 3.65684 19.1283 8.4375 19.8785V12.8906H5.89844V10H8.4375V7.79688C8.4375 5.29063 9.93047 3.90625 12.2146 3.90625C13.3084 3.90625 14.4531 4.10156 14.4531 4.10156V6.5625H13.1922C11.95 6.5625 11.5625 7.3334 11.5625 8.125V10H14.3359L13.8926 12.8906H11.5625V19.8785C16.3432 19.1283 20 14.9912 20 10Z" fill="#000"/></svg></a>
                                </div>
                                <div class="vityl-post-card__share-icon-col">
                                    <a
                                        href="#"
                                        onClick="javascript:window.open('https://www.linkedin.com/sharing/share-offsite/?url={{blog.link}}','LinkedIn','width=600,height=500'); return false;"
                                    ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47708 0 0 4.47708 0 10C0 15.5229 4.47708 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47708 15.5229 0 10 0ZM7.55208 14.1448H5.52708V7.62812H7.55208V14.1448ZM6.52708 6.82812C5.8875 6.82812 5.47396 6.375 5.47396 5.81458C5.47396 5.24271 5.9 4.80312 6.55312 4.80312C7.20625 4.80312 7.60625 5.24271 7.61875 5.81458C7.61875 6.375 7.20625 6.82812 6.52708 6.82812ZM14.9479 14.1448H12.9229V10.5333C12.9229 9.69271 12.6292 9.12187 11.8969 9.12187C11.3375 9.12187 11.0052 9.50833 10.8583 9.88021C10.8042 10.0125 10.7906 10.2 10.7906 10.3865V14.1437H8.76458V9.70625C8.76458 8.89271 8.73854 8.2125 8.71146 7.62708H10.4708L10.5635 8.53229H10.6042C10.8708 8.10729 11.524 7.48021 12.6167 7.48021C13.949 7.48021 14.9479 8.37292 14.9479 10.2917V14.1448Z" fill="#000"/></svg></a>
                                </div>
                                <div class="vityl-post-card__share-icon-col">
                                    <a
                                        href="#"
                                        onClick="javascript:window.open('https://twitter.com/share?url={{blog.link}}','Twitter','width=600,height=500'); return false;"
                                    ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 0C4.47768 0 0 4.47768 0 10C0 15.5223 4.47768 20 10 20C15.5223 20 20 15.5223 20 10C20 4.47768 15.5223 0 10 0ZM14.8058 7.53795C14.8125 7.64286 14.8125 7.75223 14.8125 7.85938C14.8125 11.1362 12.317 14.9107 7.7567 14.9107C6.35045 14.9107 5.04688 14.5022 3.94866 13.7991C4.14955 13.8214 4.34152 13.8304 4.54688 13.8304C5.70759 13.8304 6.77455 13.4375 7.625 12.7723C6.53571 12.75 5.62054 12.0357 5.30804 11.0536C5.68973 11.1094 6.03348 11.1094 6.42634 11.0089C5.86546 10.895 5.36133 10.5904 4.99959 10.1468C4.63785 9.70331 4.44082 9.14823 4.44196 8.57589V8.54464C4.77009 8.72991 5.15625 8.84375 5.56027 8.85938C5.22063 8.63302 4.94209 8.32636 4.74936 7.96658C4.55662 7.60681 4.45563 7.20503 4.45536 6.79688C4.45536 6.33482 4.57589 5.91295 4.79241 5.54688C5.41496 6.31325 6.19181 6.94005 7.07247 7.38653C7.95312 7.83301 8.91788 8.08918 9.90402 8.13839C9.55357 6.45313 10.8125 5.08929 12.3259 5.08929C13.0402 5.08929 13.683 5.38839 14.1362 5.87054C14.6964 5.76562 15.2321 5.5558 15.7098 5.27455C15.5246 5.84821 15.1362 6.33259 14.6205 6.63839C15.1205 6.58482 15.6027 6.44643 16.0491 6.25223C15.7121 6.74777 15.2902 7.1875 14.8058 7.53795Z" fill="#000"/></svg></a>
                                </div>
                            </div> #}
                            <div class="vityl-post-card__content">
                                <h3>{{ blog.title }}</h3>
                                <p>{{ blog.post_excerpt }}</p>
                            </div>
                            <div class="vityl-post-card__link">
                                <a href="{{ blog.link }}">READ ARTICLE</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{# <section class="vityl-single-post-cat">
    <div class="container">
        <div class="vityl-single-post-cat__inner">
            <h3>{{ footer_title }}</h3>
            <div class="vityl-single-post-cat__list">
                {% for item in category_terms %}
                    <div class="vityl-single-post-cat__list-item">
                        <a href="{{ item.link }}" class="btn btn--black-border">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="vityl-single-post__prev-page">
                <a href="{{ resources_page_link.url }}">Back to Previous Page</a>
            </div>
        </div>
    </div>
</section> #}
